// ------->>>All COLORS<<<-------

@color-white: #FFFFFF;  // постоянный цвет боди
@color-header: #E5E5E5; // постоянный цвет хидера
@color-link-menu: #404040; // постоянный цвет ссылок в меню хидера
@ellipse-color: #B18999; // постоянный цвет эллипса
@ellipse-color-tittle: #F2F2F2; // постоянный цвет надписи на эллипсе
@content-1-background: #F7F7F7; // постоянный цвет первого контейнера под эллипсом
@content-1-text-color: #1B1C1C; // постоянный цвет текста текста контейнера под эллипсом
@color-description-text: #000000; // постоянный цвет в подписях на карточках с иконками
                