
@import "../css/config";
@transition-duration: 0.5s;

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: @color-white;

    #main {
        max-width: 1366px;
        margin: auto;
        display: block;
        overflow: hidden;
        position: relative;
        z-index: 4;

        .header {
            height: 70px;
            background: @color-header;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 3;
            
            position: relative;

            &-logo {
                // width: 389px;
                display: flex;
                margin-left: 46px;

                &__name {
                    padding-left: 3.16px;    
                    font-family: @font-family-for-all;
                    font-size: 12px;
                    line-height: normal;
                }
            }

            .hidden-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                position: fixed;
                top: 70px;
                right: -800px;
                margin: 0;
                width: 100%;
                height: 691px;
                transition: right .8s;
                z-index: 2;
                list-style:none;
                box-sizing: border-box;
                background-color: @mobile-menu-bkcolor;
                -webkit-transform: translateZ(0);
                -webkit-backface-visibility: hidden;

                @media screen and (min-width:768px) {
                    display: none;
                }

                &__link {
                    margin-bottom: 20px;
                }

                &__string {
                    .link-menu-style-mobile();
                }
                &__string:hover {
                    .link-hover();
                }
            }

            .hidden-menu-ticker {
                display: none;
            }

            .btn-menu {
                padding: 5px;
                margin-right: 20px;
                top: 5px;
                right: 5px;
                cursor: pointer;
                transition: right .23s;
                z-index: 3;
                width: 25px;
                -webkit-transform: translateZ(0);
                -webkit-backface-visibility: hidden;

                @media screen and (min-width:768px) {
                    display: none;
                }
            }

            .btn-menu span {
                display: block;
                height: 5px;
                background-color: @content-1-text-color;
                margin: 5px 0 0;
                transition: all .1s linear .23s;
                position: relative;
                float: right;
            }

            .btn-menu span.first {
                margin-top: 0;
                width: 30px;
            }

            .btn-menu span.second {
                width: 25px;
            }

            .btn-menu span.third {
                width: 20px;
            }

            .hidden-menu-ticker:checked ~ .btn-menu {
                right: 160px;
            }

            .hidden-menu-ticker:checked ~ .hidden-menu {
                right: 0;
            }

            .hidden-menu-ticker:checked ~ .btn-menu span.first {
                -webkit-transform: rotate(45deg);
                top: 10px;
            }

            .hidden-menu-ticker:checked ~ .btn-menu span.second {
                opacity: 0;
            }

            .hidden-menu-ticker:checked ~ .btn-menu span.third {
                -webkit-transform: rotate(-45deg);
                width: 30px;
                top: -10px;
            }

            &-menu {
                width: 588px;

                &__list {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }

                &__item {
                    list-style-type: none;
                    // width: 133px;
                }

                &__link {
                    .link-menu-style-desktop();
                }
                &__link:hover {
                    .link-hover();
                }

                @media screen and (max-width:768px) {
                    display: none;
                }
            }

            &-button {
                width: 389px;

                &__connection {

                    .send {
                        width: 226px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: @font-family-for-all;
                        font-size: 13px;
                        font-weight: bold;
                        background: @color-link-menu;
                        line-height: 18px;
                        color: @color-white;
                        letter-spacing: 0.1em;
                        border: none;
                        float: right;
                        margin-right: 20px;
                        cursor: pointer;
                    }
                }

                @media screen and (max-width:768px) {
                    display: none;
                }
            }    
        }

        .information {
            position: relative;
            
            &__background {
                width: 100%;
                height: auto;
                display: flex;
                position: relative;
                z-index: 1; 

                &__picture {
                    width: 902px;
                    height: 691px; 
                    z-index: 10; 
                } 
            }

            &-ellipse {
                width: 1001px;
                height: 1036px;
                position: absolute;
                left: 55%;
                top: -23%;
                background: @ellipse-color;
                border-radius: 50%;
                z-index: 2;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                justify-content: center;
                padding-left: 75px;

                &__title {
                    width: 450px;
                    height: 88px;
                    font-family: @font-family-for-all;
                    font-size: 40px;
                    line-height: 54px;
                    color: @ellipse-color-tittle;
                    margin-bottom: 30px;
                }

                &__title2 {
                    width: 446px;
                    height: 64px;
                    font-family: @font-family-for-all;
                    font-size: 16px;
                    line-height: 25px;
                    color: @ellipse-color-tittle;
                }
            }
        }

        .about {
            display: block;
            position: relative;
            background-color: @content-1-background;
            padding-bottom: 24px;
            z-index: 100;

            &__paragraph1 {
                padding: 57px 54px 0;
            }

            &__text1 {

                .title3 {
                    font-family: @font-family-for-all;
                    font-size: 44px;
                    line-height: 58px;
                    color: @content-1-text-color;
                }
            }

            &__text2 {

                .title4 {
                    font-family: @font-family-for-all;
                    font-size: 18px;
                    line-height: 25px;
                    color: @content-1-text-color;
                }
            }

            &__paragraph2 {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin-top: 20px;
                margin-bottom: 30px;
                padding: 0 58px;
            }

            &__card {
                display: flex;
                flex-direction: column;
            }

            &__logotype {
                width: 32.56px;
                height: 34.02px;
                margin-bottom: 15px;
            }

            &__description {
                // width: 334px;
                font-family: @font-family-for-all;
                font-size: 16px;
                line-height: 25px;
                color: @color-description-text;
            }
        }

        .services {
            display: flex;

            &__background {
                width: 847.86px;
                height: 757px;
                background-image: url(../images/Гостиная2.png);
                background-size: cover;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            &__icons {
                width: 600px;
                // height: 150px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-top: 20px;

                @media screen and (max-width:768px) {
                    width: 440px;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-left: 20px;
                }
            }

            &__figure {
                display: flex;

                @media screen and (max-width:768px) {
                    margin-bottom: 10px;
                }

                &__ellipse {
                    .content-2-ellipse-position();
                    display: flex;
                    align-items: inherit;
                    justify-content: center;
                }
                &__ellipse:hover {
                    transition: all 0.3s;
                    cursor: pointer;
                    background-color: @ellipse-color;
                }

                &__furniture {

                }
            }

            &__signature {
                padding: 0px 0px 50px 48px;
            }

            &__box {

            }

            &__description1 {
                width: 607px;
                height: 60px;
                font-family: @font-family-for-all;
                font-size: 44px;
                line-height: 58px; 
                color: @color-white; 
            }

            &__description2 {
                width: 385.69px;
                height: 25px;
                font-family: @font-family-for-all;
                font-size: 18px;
                line-height: 25px;
                color: @color-white;
            } 

            &__arts {
                width: 521.14px;
                height: 757px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background: @color-link-menu;
            }

            &__kinds {
            }

            &__list {
                padding-right: 100px;

                @media screen and (max-width:768px) {
                    padding: 0;
                }

                

                &__string {
                    font-family: @font-family-for-all;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 40px;
                    list-style: none;
                    color: @color-white;
                }

                &__string:hover {
                    .link-hover();
                }
            }
        }

        .footer {
            height: 200px;
            background: @footer-background;

            @media screen and (max-width:768px) {
                height: auto;
            }

            @media screen and (max-width:468px) {
                height: auto;
            }

            &__functional {
                display: flex;
                justify-content: space-around;
                align-items: center;
                height: 120px;
                padding-top: 30px;

                @media screen and (max-width:768px) {
                    flex-direction: column;
                    height: 280px;
                    justify-content: center;
                    text-align: -webkit-center;
                    padding: 0;
                }

                @media screen and (max-width:468px) {
                    flex-direction: column;
                    height: 280px;
                    justify-content: center;
                    text-align: -webkit-center;
                    padding: 0;
                }
            }

            &__menu {
                align-self: baseline;
                .footer-block-position();

                &__list {
                }

                &__item {
                    list-style-type: none;
                }

                &__link {
                    font-family: @font-family-for-all;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: @color-white;
                }
                &__link:hover {
                    .link-hover();
                }
            }

            &__option {
                align-self: baseline;
                .footer-block-position();

                @media screen and (max-width:768px) {
                    padding-bottom: 20px;
                }

                @media screen and (max-width:468px) {
                    padding-bottom: 20px;
                }

                &__list {
                }

                &__item {
                    list-style-type: none;
                }

                &__link {
                    font-family: @font-family-for-all;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: @color-white;
                }
                &__link:hover {
                    .link-hover();
                }
            }

            &__icons {
                align-self: baseline;

                &__heading {
                    font-family: @font-family-for-all;
                    font-size: 14px;
                    line-height: 18px;
                    color: @footer-heading-color-social;
                }

                &__package {
                    display: flex;
                    justify-content: space-between;
                    padding-top: 17px;

                    @media screen and (max-width:768px) {
                        padding-bottom: 20px;
                    }

                    @media screen and (max-width:468px) {
                        padding-bottom: 20px;
                    }
                }

                &__social {
                }

                &__link {
                    .socialweb();
                }
                &__link:hover {
                    background-color: @color-hover-arts;
                    transition: all 0.3s;
                    cursor: pointer;
                }

                .fab {
                    color: @footer-color-icons;
                }
                &__social:hover .fab {
                    color: @color-white;
                }
            }

            &__information {
                align-self: baseline;
                .footer-block-position();

                &__box {
                }

                &__new {
                    font-family: @font-family-for-all;
                    font-size: 14px;
                    line-height: 18px;
                    color: @footer-heading-color-social;
                }

                &__connection {
                }

                &__active {
                    border: none;
                    border-bottom: 1px solid @color-white;
                    font-family: @font-family-for-all;
                    background: @footer-background;
                    padding-bottom: 5px;
                    color: @color-white;
                    outline: none;
                }

                &__push {
                    width: 35.97px;
                    height: 36px;
                    border-radius: 50%;
                    background: @ellipse-color;
                    border: none;
                    margin-left: 16px;
                    cursor: pointer;
                }
            }
            &__FAQ {
                display: flex;
                justify-content: space-between;

                @media screen and (max-width:768px) {
                    display: flex;
                    justify-content: center;
                    height: 60px;
                    flex-direction: column;
                    align-items: center;
                }

                @media screen and (max-width:468px) {
                    display: flex;
                    justify-content: center;
                    height: 60px;
                }

                &__box {
                    width: 46%;
                    display: flex;
                    justify-content: space-around;

                    @media screen and (max-width:768px) {
                        flex-direction: column;
                        text-align: center;
                    }

                    @media screen and (max-width:468px) {
                        flex-direction: column;
                        text-align: center;
                    }
                }
                &__description {
                    .footer-descriprion();
                }
                &__personal {
                    .footer-descriprion();
                }
                &__copyright {
                    .footer-descriprion();
                    align-self: flex-end;
                    width: 10%;

                    @media screen and (max-width:768px) {
                        width: auto;
                        align-self: center;
                    }


                    @media screen and (max-width:468px) {
                        display: none;
                    }
                }
            } 
        }
    }
}