@import "../fonts/font";
@import "../css/config";
@import "../mixin/mixin"; 



* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: @color-white;
    #main {
        max-width: 1366px;
        margin: auto;
        display: block;
        overflow: hidden;
        position: relative;
        z-index: 4;
        .header {
            height: 70px;
            background: @color-header;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 3;
            &-logo {
                width: 389px;
                display: flex;
                margin-left: 46px;
                &__name {
                    padding-left: 3.16px;    
                    font-family: @font-family-for-all;
                    font-size: 12px;
                    line-height: normal;
                }
            }
            &-menu {
                width: 588px;
                &__list {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                }
                &__item {
                    list-style-type: none;
                }
                &__link {
                    font-family: @font-family-for-all;
                    font-size: 13px;
                    font-weight: bold;
                    text-transform: uppercase;
                    text-decoration: none;
                    line-height: 18px;
                    letter-spacing: 0.1em;
                    color: @color-link-menu;
                }
            }
            &-button {
                width: 389px;
                &__connection {
                    .send {
                        width: 226px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-family: @font-family-for-all;
                        font-size: 13px;
                        font-weight: bold;
                        background: @color-link-menu;
                        line-height: 18px;
                        color: @color-white;
                        letter-spacing: 0.1em;
                        border: none;
                        float: right;
                        margin-right: 20px;
                    }
                }
            }    
        }
        .content {
            position: relative;
            &-background {
                width: 100%;
                height: auto;
                display: flex;
                position: relative;
                z-index: 1;    
                img {
                    width: 902px;
                    height: 691px; 
                    z-index: 10; 
                } 
            }
            &-ellipse {
                width: 1001px;
                height: 1036px;
                position: absolute;
                left: 759px;
                top: -156px;;
                background: @ellipse-color;
                border-radius: 50%;
                z-index: 2;
                &__title {
                    width: 450px;
                    height: 88px;
                    position: absolute;
                    left: 120px;
                    top: 316px;
                    font-family: @font-family-for-all;
                    font-size: 40px;
                    line-height: 54px;
                    color: @ellipse-color-tittle;
                }
                &__title2 {
                    width: 446px;
                    height: 64px;
                    position: absolute;
                    left: 122px;
                    top: 435px;
                    font-family: @font-family-for-all;
                    font-size: 18px;
                    line-height: 25px;
                    color: @ellipse-color-tittle;
                }
            }
        }
        .content-1 {
            display: block;
            position: relative;
            background-color: @content-1-background;
            padding-bottom: 24px;
            z-index: 100;
            &__paragraph1 {
            }
            &__text1 {
                margin-left: 54px;
                padding-top: 57px;
                .title3 {
                    font-family: @font-family-for-all;
                    font-size: 44px;
                    line-height: 58px;
                    color: @content-1-text-color;
                }
            }
            &__text2 {
                margin-left: 54px;
                .title4 {
                    font-family: @font-family-for-all;
                    font-size: 18px;
                    line-height: 25px;
                    color: @content-1-text-color;
                    width: 1254px;
                }
            }
            &__paragraph2 {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                margin-bottom: 30px;
            }
            &__card {
                display: flex;
                flex-direction: column;
            }
            &__logotype {
                width: 32.56px;
                height: 34.02px;
                margin-bottom: 15px;
            }
            &__description {
                width: 334px;
                font-family: @font-family-for-all;
                font-size: 16px;
                line-height: 25px;
                color: @color-description-text;
            }
        }
        .content-2 {
            display: flex;
            &__background {
                width: 847.86px;
                height: 757px;
                background-image: url(../images/Гостиная2.png);
                background-size: cover;
            }
            &__icons {
            }
            &__figure {
                position: relative;
                &__ellipsedark1 {
                    .content-2-ellipse-position();
                    left: 35.08px;
                    top: 48px;
                }
                &__cupboard {
                    .svg-items-to-ellipse();
                    left: 66px;
                    right: 8px;
                }
                &__ellipsedark2 {
                    .content-2-ellipse-position();
                    left: 172.08px;
                    top: 48px;
                }
                &__bed {
                    .svg-items-to-ellipse();
                    left: 192px;
                    right: 8px;
                }
                &__ellipsepurple {
                    .content-2-ellipse-position();
                    left: 310.08px;
                    top: 48px;
                }
                &__sofa {
                    .svg-items-to-ellipse();
                    left: 332px;
                    right: 8px;
                }
                &__ellipsedark3 {
                    .content-2-ellipse-position();
                    left: 448.08px;
                    top: 48px;
                }
                &__bath {
                    .svg-items-to-ellipse();
                    left: 467px;
                    right: 8px;
                    top: 92px;
                }
            }
            &__signature {
                position: relative;
                &-one {
                    .descriprion-under-ellipse1();
                    width: 607px;
                    height: 60px;
                    top: 623px;
                    font-family: @font-family-for-all;
                    font-size: 44px;
                    line-height: 58px;  
                }
                &-two {
                    .descriprion-under-ellipse2();
                    width: 385.69px;
                    height: 25px;
                    top: 679px;
                    font-family: @font-family-for-all;
                    font-size: 18px;
                    line-height: 25px;
                } 
            } 
            &__arts {
                width: 521.14px;
                height: 757px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                background: @color-link-menu;
            }
            &__kinds {
            }
            &__list {
                padding-right: 100px;
                &__string {
                    font-family: @font-family-for-all;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 40px;
                    list-style: none;
                    color: @color-white;
                }
                &__string:hover {
                    color: @color-hover-arts;
                    transition: all 0.3s;
                    cursor: pointer;
                }
            }
        }
        .footer {
            height: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background: @footer-background;
            &__menu {
                height: 100px;
                &__list {
                }
                &__item {
                    list-style-type: none;
                }
                &__link {
                    font-family: @font-family-for-all;
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            &__option {
                display: flex;
                align-items: flex-start;
                height: 100px;
                &__list {
                }
                &__item {
                    list-style-type: none;
                }
                &__link {
                    font-family: @font-family-for-all;
                    font-size: 10px;
                    line-height: 14px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    text-decoration: none;
                    font-weight: bold;
                }
            }
            &__icons {
                height: 100px;
                &__we {
                    font-family: @font-family-for-all;
                    font-size: 14px;
                    line-height: 18px;
                    color: #999999;
                }
                &__package {
                    &__facebook {
                        position: relative;
                        .fak {
                            position: absolute;
                            z-index: 1;
                        }
                        .fak1 {
                            position: absolute;
                            z-index: 2;
                            left: 10px;
                            top: 5px;
                        }
                    }
                    &__instagram {
                        position: relative;
                        .ins {
                            position: absolute;
                            z-index: 1;
                            left: 60px;
                        }
                        .ins1 {
                            position: absolute;
                            z-index: 2;
                            left: 60px;
                            top: 5px;
                        }
                    }
                }
            }
            &__information {
                height: 100px;
                font-family: @font-family-for-all;
                font-size: 14px;
                line-height: 18px;
                color: #999999;
            } 
        }
    }
}