
* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'font9002832c31fecc8695ccdc56328fb0fb';
        
    src: url('https://nomail.com.ua/files/eot/9002832c31fecc8695ccdc56328fb0fb.eot?#iefix') format('embedded-opentype'),
         url('https://nomail.com.ua/files/woff/9002832c31fecc8695ccdc56328fb0fb.woff') format('woff'),
         url('https://nomail.com.ua/files/woff2/9002832c31fecc8695ccdc56328fb0fb.woff2') format('woff2');
}
    
@font-face { font-family: 'PFBagueSansPro-Thin';  src: local('PFBagueSansPro-Thin'), url('https://nomail.com.ua/files/woff/9002832c31fecc8695ccdc56328fb0fb.woff') format('woff'); }

@font-family-for-all: 'font9002832c31fecc8695ccdc56328fb0fb';

body {
    width: 100%;
    background-color: aqua;
    #main {
        display: block;
        max-width: 1366px;
        background-color: aquamarine;
        margin: auto;
        z-index: 4;
        overflow: hidden;
        position: relative;
        .header {
            background: #E5E5E5;
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            z-index: 3;
            .header__logo {
                display: flex;
                margin-left: 46px;
                width: 389px;
                &-name {
                    padding-left: 3.16px;    
                    font-family: @font-family-for-all;
                    line-height: normal;
                    font-size: 12px;
                }
            }
            .header-menu {
                width: 588px;
                &__list {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                }
                &__item {
                    list-style-type: none;
                }
                &__link {
                    font-family: @font-family-for-all;
                    text-decoration: none;
                    line-height: 18px;
                    font-size: 13px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #404040;
                    font-weight: bold;
                }
            }
            .header__button {
                width: 389px;
                &__connection {
                    .send {
                        font-family: @font-family-for-all;
                        width: 226px;
                        height: 40px;
                        background: #404040;
                        font-size: 13px;
                        line-height: 18px;
                        text-align: center;
                        color: #FFFFFF;
                        font-weight: bold;
                        letter-spacing: 0.1em;
                        border: none;
                        float: right;
                        margin-right: 20px;
                    }
                }
            }    
        }
        .content {
            &__background {
                width: 100%;
                height: auto;
                display: flex;
                position: relative;
                z-index: 1;    
                img {
                    z-index: 10;
                    width: 902px;
                    height: 691px;  
                } 
            }
            &__ellipse {
                z-index: 2;
                position: absolute;
                width: 1001px;
                height: 1036px;
                left: 54%;
                top: -83px;
                background: #B18999;
                border-radius: 50%;
                &__title {
                    position: absolute;
                    width: 450px;
                    height: 88px;
                    left: 120px;
                    top: 316px;
                    font-family: @font-family-for-all;
                    font-size: 40px;
                    line-height: 54px;
                    color: #F2F2F2;
                }
                &__title2 {
                    position: absolute;
                    width: 446px;
                    height: 64px;
                    left: 122px;
                    top: 435px;

                    font-family: @font-family-for-all;
                    font-size: 18px;
                    line-height: 25px;

                    color: #F2F2F2;
                }
            }
        }
        .content-1 {
            z-index: 100;
            position: relative;
            display: block;
            background-color: #ffffff;
            padding-bottom: 24px;
            &__paragraph1 {
                &__text1 {
                    margin-left: 54px;
                    padding-top: 57px;
                    .text1 {
                        font-family: @font-family-for-all;
                        font-size: 44px;
                        line-height: 58px;
                        color: #1B1C1C;

                    }
                }
                &__text2 {
                    margin-left: 54px;
                    .text2 {
                        font-family: @font-family-for-all;
                        font-size: 18px;
                        line-height: 25px;
                        color: #1B1C1C;
                        width: 1254px;
                    }
                }
            }
            &__paragraph2 {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                &__card {
                    display: flex;
                    flex-direction: column;
                    .logotype {
                        width: 32.56px;
                        height: 34.02px;
                        margin-bottom: 15px;
                    }
                    .logoDescription {
                        font-family: @font-family-for-all;
                        font-size: 18px;
                        line-height: 25px;
                        color: #000000;
                        width: 334px;
                    }
                }
            }
        }
        .content-2 {
            display: flex;
            &__background {
                width: 847.86px;
                height: 757px;
                background-image: url(../images/Гостиная2.png);
                background-size: cover;
                &__icons {
                    &__figure {
                        position: relative;
                        &__ellipse1{
                            position: absolute;
                            width: 115.25px;
                            height: 115px;
                            left: 35.08px;
                            top: 23px;
                            background: rgba(42, 38, 38, 0.95);
                            border-radius: 50%;
                        }
                        &__cupboard {
                            position: absolute;
                            left: 66px;
                            right: 8px;
                            top: 60px;
                            bottom: -3px;
                        }
                        &__ellipse2 {
                            position: absolute;
                            width: 115.25px;
                            height: 115px;
                            left: 172.08px;
                            top: 23px;
                            background: rgba(42, 38, 38, 0.95);
                            border-radius: 50%;
                        }
                        &__bed {
                            position: absolute;
                            left: 192px;
                            right: 8px;
                            top: 60px;
                            bottom: -3px;
                        }
                        &__ellipse3 {
                            position: absolute;
                            width: 115.25px;
                            height: 115px;
                            left: 310.08px;
                            top: 23px;
                            background: rgba(42, 38, 38, 0.95);
                            border-radius: 50%;
                        }
                        &__sofa {
                            position: absolute;
                            left: 332px;
                            right: 8px;
                            top: 60px;
                            bottom: -3px;
                        }
                        &__ellipse4 {
                            position: absolute;
                            width: 115.25px;
                            height: 115px;
                            left: 448.08px;
                            top: 23px;
                            background: rgba(42, 38, 38, 0.95);
                            border-radius: 50%;
                        }
                        &__bath {
                            position: absolute;
                            left: 467px;
                            right: 8px;
                            top: 66px;
                            bottom: -3px;
                        }
                    }
                }
                &__signature {
                    position: relative;
                    .one {
                        position: absolute;
                        width: 607px;
                        height: 60px;
                        left: 46px;
                        top: 623px;
                        
                        font-family: @font-family-for-all;
                        font-size: 44px;
                        line-height: 58px;
                        
                        color: #FFFFFF;  
                    }
                    .two {
                        position: absolute;
                        width: 385.69px;
                        height: 25px;
                        left: 46px;
                        top: 679px;

                        font-family: @font-family-for-all;
                        font-size: 18px;
                        line-height: 25px;

                        color: #EAE5E5;
                    }
                } 
            } 
            &__list {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 521.14px;
                height: 757px;
                background: #404040;
                &__lines {
                    &__box {
                        &__string {
                            list-style: none;
                            font-family: @font-family-for-all;
                            font-size: 30px;
                            line-height: 40px;
                            font-weight: bold;
                            color: rgb(255, 255, 255);
                        }
                        &__string:hover {
                            color: #65C8CE;
                            transition: all 0.3s;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .footer {
            background: #151414;
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 200px;
            &__menu {
                height: 100px;
                &__items {
                    &__list {
                        list-style-type: none;
                        &__link {
                            font-family: @font-family-for-all;
                            font-size: 10px;
                            line-height: 14px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            text-decoration: none;
                            font-weight: bold;
                        }
                    }
                }
            }
            &__option {
                display: flex;
                align-items: flex-start;
                height: 100px;
                &__items {
                    &__list {
                        list-style-type: none;
                        &__link {
                            font-family: @font-family-for-all;
                            font-size: 10px;
                            line-height: 14px;
                            letter-spacing: 0.1em;
                            text-transform: uppercase;
                            color: #FFFFFF;
                            text-decoration: none;
                            font-weight: bold;
                        }
                    }
                }
            }
            &__icons {
                height: 100px;
                &__we {
                    font-family: @font-family-for-all;
                    font-size: 14px;
                    line-height: 18px;
                    color: #999999;
                }
                &__package {
                    &__facebook {
                        position: relative;
                        .fak {
                            position: absolute;
                            z-index: 1;
                        }
                        .fak1 {
                            position: absolute;
                            z-index: 2;
                            left: 10px;
                            top: 5px;
                        }
                    }
                    &__instagram {
                        position: relative;
                        .ins {
                            position: absolute;
                            z-index: 1;
                            left: 60px;
                        }
                        .ins1 {
                            position: absolute;
                            z-index: 2;
                            left: 60px;
                            top: 5px;
                        }
                    }
                }
            }
            &__information {
                height: 100px;
                font-family: @font-family-for-all;
                font-size: 14px;
                line-height: 18px;
                color: #999999;
            } 
        }
    }
}