.content-2-ellipse-position() {           
    width: 115.25px;
    height: 115px;
    position: absolute;
    background: rgba(42, 38, 38, 0.95);
    border-radius: 50%;
} 

// позиционирование эллипсов на 2 слайдере 


.svg-items-to-ellipse() {
    position: absolute;
    bottom: -3px;
    top: 85px;
}

// позиционирование svg иконок внутри эллипса на 2 слайдере 


.descriprion-under-ellipse1() {
    position: absolute;
    left: 46px;
    color: @color-white;
}

// подпись - 1 под эллипсами на 2 слайдере

.descriprion-under-ellipse2() {
    position: absolute;
    left: 46px;
    color: #EAE5E5;
}

// подпись - 2 под эллипсами на 2 слайдере 


.socialweb() {
    text-align: center;
    width: 30.44px;
    height: 30.44px;
    // float: left;
    background: #ffffff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
}

// социальные сети


.footer-block-position() {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

// позиция на колонки в футере 